.displayStories{
    display:flex;
    flex-direction: column;
    background-color: rgb(243, 238, 247);
    border-style: outset;
    padding: 10px;
}

.displayStories .storyBox{
    display:flex;
    flex-direction: row;
}

.displayStories .image{
    width: 200px;
    height: auto;
    margin-right:20px;
}


.displayStories .image:hover{
    width: 300px;
    height: auto;
}